@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Poppins&display=swap');
:root {
    --main-color: #7857fe;
    --color-3:#51d9eb;
    --color-1: #e91e63;
    --color-2: #f5ae10;
    --bg-dark: #2b2c2f;
    --main-to-dark-color: var(--main-color);
    --dark-to-main-color: var(--bg-dark);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.3);
    --black-900: #000000;
    --black-400: #555555;
    --black-100: #f7f7f7;
    --black-alpha-100: rgba(0, 0, 0, 0.05);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    overflow-x: hidden;
    /* background-color: #ffffff; */
}

* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

li{
    list-style: none;
}


.navbar {
    background-color: var(--main-color);
    padding: 20px 10px;
    transition: all 0.5s ease;
}

.navbar.navbar-shrink{
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    background-color: var(--main-color);
    padding: 10px;
}

.navbar>.container {
    padding: 10px;
}

.navbar .navbar-brand {
    font-size: 30px;
    color: #ffff;
    font-weight: 500;
    text-transform: capitalize;
}

.navbar .nav-item {
    margin-left: 30px;
}

@media (max-width:768px) {
    .navbar .nav-item {
        margin-left: 0px;
    }
    .home-img {
        margin: 50px 0;
    }
}

.navbar .nav-item .nav-link {
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 0;
    position: relative;
}

.navbar .nav-item .nav-link::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 2px;
    background-color: #ffffff;
    transform: scale(0);
    transition: all 0.5s ease;
}

.navbar .nav-item .nav-link.about::before {
    transform: scale(1);
}


.navbar .nav-item .nav-link:hover::before {
    transform: scale(1);
}

.section-padding{
    margin: 100px 0;
}

@media(max-width:991px){
    .navbar-toggler{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--black-300);
        height: 34px;
        width: 44px;
        padding: 0;
        margin: 10px;
        font-size: 17px;
        color: #fff;
        box-shadow: var(--shadow-black-100);
    }

    .navbar-nav{
        background-color: var(--dark-to-main-color);
        box-shadow: var(--shadow-black-100);
    }

    .navbar .nav-item{
        margin: 0;
        padding: 5px 15px;
    }

    .navbar.navbar-shrink .navbar-nav ,.navbar.navbar-shrink .navbar-toggler{
        background-color: var(--main-color);
    }

    .how-it-works-item{
        box-shadow: var(--shadow-black-100);
    }

    .how-it-works-item.line-right::before{
        display: none;
    }

    .mobile-responsive{
        margin-bottom: 50px;
    }
     .col-md-3  p{
          font-size: 18px;
          margin-bottom: 20px;
     }
     
     .h4, h4{
         margin-bottom: 20px;
     }
    
     .info-block p{
      font-size: 18px !important;
      margin-bottom: 20px !important;
      
     }
     .h6, h6 {
        font-size: 20px;
    }
    .links a{
        font-size: 18px;
    }
    .social-links h4{
        margin-top: 20px;
        margin-bottom: 12px;
    }
    .social-links a{
        
        font-size: 18px;
    }
}

.section-padding{
    padding: 80px 0;
}

/* Footer */
.site-footer{
    background-color: var(--main-color);
    padding-top: 80px;
}

.info-block p{
    font-size: 16px;
}

.info-block h6{
    padding-right: 20px;
}

.links a{
    color: white;
}

.social-links a{
    color:white;
}

hr{
    margin-top: 40px;
    background-color: white;
}

.row {
    color: white;
}

.links a {
    text-decoration: none;
    transition: transform .2s;
}
.social-links a{
    text-decoration: none;
}

.Author{
    color: #fff !important;
}

.copyright .c1 p {
    text-align: center;
    margin-bottom: 0px;
}